language: ruby
rvm:
  - "1.8.7"
  - "1.9.2"
  - "1.9.3"
  - "2.0.0-preview1"
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
branches:
  only:
    - master
# uncomment this line if your project needs to run something other than `rake`:
# # script: bundle exec rspec spec
